*.log
*.pot
*.pyc
__pycache__
db.sqlite3
accounts/profile
../.vscode/settings.json
.idea/
.env
venv/
data/
.pytest_cache/
celerybeat-schedule
channels/profile
videos/user_video
media/
TODO.md
.vscode
